{% extends "base.html" %}

{% block title %}
About Us
{% endblock %}

{% block content %}
<h3>About Us</h3>
<p>We love to travel.  Whether its a weekend getaway or a summer vacation, we like to explore.  So, we wanted to create a community where travelers can unite to share their experiences, help other plan a great trip, and find ideas to spark their next great adventure</p>

<p>At Roam, we are crowdsourcing travel.  By coming to Roam, you can see what, where, and how other people traveled.  Then, by bookmarking posts to your own perspective trips, you can build your perfect vacation.</p>

<p>All thats left is sharing with your fellow Roamers when you get back. Bon Voyage!</p>

<!-- <p>Ari and I love to travel, so we thought we'd make an easy way for everyone to share their travel experiences for everyone to see.</p> -->
{% endblock %}