{% extends "base.html" %}

{% block title %} Home
{% endblock %}

{% block left %}
<div class="well sidebar-nav">
	<ul class="nav nav-list">
		<li><a href="/vacay/mytrips/"> My Trips </a></li>
		<li><a href="/vacay/pasttrips/"> Past Trips </a></li>
		<li><a href="/vacay/futuretrips/"> Future Trips </a></li>
	</ul>
</div>

{% endblock %}

{% block content %}
<div class="span12">
	<form action="/vacay/search/" class="navbar-search pull-left">
  		<i class="icon-search"></i><input type="text" class="search-query" placeholder="Search" name="query">
  		<button type="submit" class="btn">Search</button>
	</form>
</div>
<h2>Recommended</h2>
{% endblock %}

{% block right %}
{% endblock %}