{% extends "base.html" %}

{% block title %} Home
{% endblock %}

{% block left %}
<ul>
	<li><a href="/mytrips/"> My Trips </a></li>
	<li><a href="/pasttrips/"> Past Trips </a></li>
	<li><a href="/futuretrips/"> Future Trips </a></li>
</ul>

{% endblock %}

{% block content %}
<div class="span12">
	<form action="/search/" class="navbar-search pull-left">
  		<input type="text" class="search-query" placeholder="Search" name="query">
  		<button type="submit" class="btn">Search</button>
	</form>
</div>
<h2>Recommended</h2>
{% endblock %}

{% block right %}
<a href="/accounts/logout/"> logout </a>
{% endblock %}