<div class="blog_view">
	<div class="btn-group pull-right">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			<i class="icon-bookmark"></i>
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			{% for trip in trips %}
			<li class="dropdown-submenu"><a href="#" onclick="bookmark('trip', {{trip.id}}); return false;">{{trip.name}}</a>
				<ul class="dropdown-menu">
					{% for city in trip.visited_cities.all %}
					<li class="dropdown-submenu"><a href="#" onclick="bookmark('city', {{city.id}}); return false;">{{city.city_name}}</a>
						<ul class="dropdown-menu">
							{% for day in city.visited_days.all %}
							<li><a href="#" onclick="bookmark('day', {{day.id}}); return false;">{{day.date}}</a></li>
							{% endfor %}
						</ul>
					</li>
					{% endfor %}
				</ul>
			</li>
			
			<li class="divider"></li>
			
			{% endfor %}
		</ul>
	</div>
	<h4>{{post.title}}</h4>
	<p>{{post.date_written}}</p>
	<p>{{post.contents}}</p>
</div>