{% extends "base.html" %}

{% block title %}Past Trips
{% endblock %}

{% block left %}
{% endblock %}

{% block content %}
<ul>
{% for trip in past_trips %}
<li>
	<a href="/viewtrip/{{trip.id}}">{{trip}}</a>
</li>
{% endfor %}
</ul>

<script>

// xmlhttp = new XmlHttpRequest();
// xmlhttp.onreadystatechange=function() {
//     document.getElementById("num").innerHTML=xmlhttp.responseXML.documentElement.getElementsByTagName("num")
//   }
// xmlhttp.open("GET","ajax_info.txt",true);
// xmlhttp.send('/vacay/viewtrip/{{trip.id}}/');

$(document).ready(function() {
	$('#form').submit(function(e){
	    $.post('/pasttrips/',
	    	$(this).serialize(),
	    	function(data){
	    		$('#num').text(data);
	    		var x = JSON.parse(data);
	       	// of course you can do something more fancy with your respone
	    	});
	    e.preventDefault();
	});
});


// function my_js_callback100(data){
//     alert(data.message);
// }

</script>

<form id ="form">{% csrf_token %}
    <input type="text" name="num"></input>
    <!--<input type="submit" value="Submit" onclick="Dajaxice.vacay.vposts.sayhello(my_js_callback100);"></input>-->
    <input type="submit" value="Submit"></input>
</form>

<p id="num"></p>

{% endblock %}

{% block right %}
{% endblock %}