{% extends "base.html" %}

{% block title %}Search
{% endblock %}

{% block center_width %}8{% endblock %}
{% block right_width %}2{% endblock %}

{% block left %}
<h3>categories</h3>
{% endblock %}

{% block content %}
<div class="span12">
	<form action="/vacay/search/" class="navbar-search pull-left">
  		<input type="text" class="search-query" placeholder="Search" name="query">
  		<button type="submit" class="btn">Search</button>
	</form>
</div>
<h3>Results</h3>
<ul>
{% for result in results %}
<li>
	<a href="/vacay/viewpost/{{result.id}}">{{result}}</a>
	<p>{{result.contents}}</p>
</li>
{% endfor %}
</ul>
{% endblock %}

{% block right %}
{% endblock %}