{% extends "sidebar.html" %}

{% block title %}Trip Planning{% endblock %}

{% block extrahead %}
<script type="text/javascript">

function bookmark(type_var, id_var) {
	//$(document).ready(function() {
		$(document).ready(function(){
		    $.ajax("/viewpost/{{ post_id }}/", {

		    	type: "POST",
		    	data: {type: type_var, id: id_var, csrfmiddlewaretoken: '{{ csrf_token }}' },
		    	}
		    );
	    });
	//});
}
</script>
{% endblock %}

{% block content%}

<h2>Plan Your Trip</h2>
<span class="help-block">Search for posts and trips to use as ideas for your trip!</span> 

{% url 'views.tripplanning' id as search_url %}
{% include "search_bar.html" %}

{% for result in page.object_list %}
<div class="btn-group pull-right">
	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		<i class="icon-bookmark"></i>
		<span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		{% for trip in trips %}
		<li class="dropdown-submenu"><a href="#" onclick="bookmark('trip', {{trip.id}}); return false;">{{trip.name}}</a>
			<ul class="dropdown-menu">
				{% for city in trip.visited_cities.all %}
				<li class="dropdown-submenu"><a href="#" onclick="bookmark('city', {{city.id}}); return false;">{{city.city_name}}</a>
					<ul class="dropdown-menu">
						{% for day in city.visited_days.all %}
						<li><a href="#" onclick="bookmark('day', {{day.id}}); return false;">{{day.date}}</a></li>
						{% endfor %}
					</ul>
				</li>
				{% endfor %}
			</ul>
		</li>
		
		<li class="divider"></li>
		
		{% endfor %}
	</ul>
</div>
	<h4><a style="color: #333333" href="/viewpost/{{result.id}}">{{result.object.title}}</a></h4><!-- <a href="/viewpost/{{result.id}}">{{result}}</a> -->
	<p>{{result.object.contents}}</p>
<hr>
{% empty %}
<ul>
	<li>No results found.</li>
</ul>
{% endfor %}
<script>  
	$(function ()  
		{ $("#bookmark").popover({
			html : true,
			title: '<div class="btn-group">
			<a class="btn" href="#">1</a>
			<p>test</p>
			</div>'

			,
			content: '{% for trip in trips %}{{trip.name}}</br>{% endfor %}'
			});  
	});  
	</script>
{% endblock %}


{% block right %}

<form method="POST" action="/blogging/{{id}}/">
	{% csrf_token %}
	<button type="submit" name="fromTripPlanning" class="btn btn-inverse">Blog about this trip</button>
</form>

{% endblock %}