{% extends "sidebar.html" %}

{% block center_width %}8{% endblock %}
{% block right_width %}2{% endblock %}

{% block content %}
<div data-spy="scroll" data-target=".well .nav .nav-list .affix" class="post-content">
	{% for city, daylist in days.iteritems %}
	<section id="{{city.id}}">
		<h2>{{city.city_name}}</h2>
	</section>
	{% for day in daylist %}
	<section id="{{city.id}}_{{day.id}}">
		{% for p in day.written_posts.all %}
		{% block post %}
		{% endblock %}
		{% endfor %}
	</section>
	{% endfor %}
	{% endfor %}
</div>
{% endblock %}