{% extends "base.html" %}

{% block title %}Search
{% endblock %}

{% block center_width %}8{% endblock %}
{% block right_width %}2{% endblock %}

{% block left %}
<h4>Categories</h4>
{% endblock %}

{% block content %}
<div class="span12">
	<form action="." class="navbar-search pull-left">
  		<input type="text" class="search-query input-xxlarge" placeholder="Search" name="q" value="{{query}}">
  		<input type="hidden" name="models" value="vposts.post" id="id_models_0">
  		<input type="hidden" name="models" value="vposts.trip" id="id_models_1">
  		<button type="submit" class="btn"><i class="icon-search"></i></button>
	</form>
</div>
<h3>Results</h3>
{% for result in page.object_list %}
<div class="btn-group pull-right">
	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		<i class="icon-bookmark"></i>
		<span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		{% for trip in trips %}
		<li class="dropdown-submenu"><a href="#" onclick="bookmark('trip', {{trip.id}}); return false;">{{trip.name}}</a>
			<ul class="dropdown-menu">
				{% for city in trip.visited_cities.all %}
				<li class="dropdown-submenu"><a href="#" onclick="bookmark('city', {{city.id}}); return false;">{{city.city_name}}</a>
					<ul class="dropdown-menu">
						{% for day in city.visited_days.all %}
						<li><a href="#" onclick="bookmark('day', {{day.id}}); return false;">{{day.date}}</a></li>
						{% endfor %}
					</ul>
				</li>
				{% endfor %}
			</ul>
		</li>
		
		<li class="divider"></li>
		
		{% endfor %}
	</ul>
</div>
	<h4><a style="color: #333333" href="/viewpost/{{result.id}}">{{result.object.title}}</a></h4>
	<p>{{result.object.contents}}</p>
<hr>
{% empty %}
<ul>
	<li>No results found.</li>
</ul>
{% endfor %}


{% if page.has_previous or page.has_next %}
<div>
	{% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
	|
	{% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
</div>
{% endif %}


{% endblock %}

{% block right %}
{% endblock %}